 /* Built by Noemie Baudouin https: //github.com/noemirtil */

 @font-face {
     font-family: 'LaoUi';
     font-style: normal;
     font-weight: 900;
     font-display: swap;
     src: url('fonts/lao-ui.ttf') format('truetype');
 }

 @font-face {
     font-family: 'PlayfairDisplayRegular';
     font-style: normal;
     font-weight: 900;
     font-display: swap;
     src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
 }

 @font-face {
     font-family: 'OFLGoudyStMTT';
     font-style: normal;
     font-weight: 900;
     font-display: swap;
     src: url('fonts/OFLGoudyStMTT.ttf') format('truetype');
 }

 @font-face {
     font-family: 'microsoft-jhenghei';
     font-style: normal;
     font-weight: 900;
     font-display: swap;
     src: url('fonts/microsoft-jhenghei.ttf') format('truetype');
 }

 @font-face {
     font-family: 'microsoft-jhenghei-bold';
     font-style: normal;
     font-weight: 100;
     font-display: swap;
     src: url('fonts/microsoft-jhenghei.ttf') format('truetype');
 }

 :root {
     --olive: #BCBC7E;
     --olive-dark: #898951;
     --olive-dark-trans: #89895199;
     --olive-darkest: #787847;
     --olive-black: #33331E;
     --olive-black-hsl: 60deg 26% 16%;
     --olive-white: #F7F7EC;
     --olive-lighter: #EEEEDB;
     --olive-light: #DDDDB9;

     --shadow-elevation-medium:
         0.1px 1px 1px hsl(var(--olive-black-hsl) / 0.4),
         0.2px 2.1px 2.1px -0.9px hsl(var(--olive-black-hsl) / 0.36),
         0.4px 4.4px 4.3px -1.7px hsl(var(--olive-black-hsl) / 0.31),
         0.8px 9.8px 9.6px -2.6px hsl(var(--olive-black-hsl) / 0.27),
         1.6px 20px 19.6px -3.5px hsl(var(--olive-black-hsl) / 0.22);
     --shadow-elevation-low:
         0.1px 1px 1px hsl(var(--olive-black-hsl) / 0.4),
         0.2px 2.1px 2.1px -0.9px hsl(var(--olive-black-hsl) / 0.36),
         0.4px 4.4px 4.3px -1.7px hsl(var(--olive-black-hsl) / 0.31),
         0.8px 7px 7px -2.6px hsl(var(--olive-black-hsl) / 0.2);
     --shadow-elevation-high:
         0.1px 1px 1px hsl(var(--olive-black-hsl) / 0.38),
         0.3px 3.3px 3.2px -0.4px hsl(var(--olive-black-hsl) / 0.35),
         0.5px 5.9px 5.8px -0.8px hsl(var(--olive-black-hsl) / 0.33),
         0.8px 9.6px 9.4px -1.2px hsl(var(--olive-black-hsl) / 0.31),
         1.2px 15.2px 14.9px -1.6px hsl(var(--olive-black-hsl) / 0.29),
         1.9px 23.5px 23px -1.9px hsl(var(--olive-black-hsl) / 0.27);
     --box-shadow: 0 2px 6px #33331E;
     --text-shadow: 2px 2px 2px #33331e88;
     --link-shadow: 2px 2px 1px var(--mid);
     --menu-shadow: 2px 3px 1px var(--mid);
 }

 html {
     font-size: 16px;
     scroll-behavior: smooth;
 }

 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     /* MARK: ONLY DURING
      */

     scrollbar-width: none;

     /* MARK: DEVELOPMENT
     */
 }

 body {
     width: 100vw;
     overflow-x: hidden;
     color: inherit;
     /* To fix some spilling problems with grid and flex */
     min-width: 0;

     /* for accessibility, increased line-height */
     line-height: 1.5;
     /* For smoother fonts on some mac browsers */
     -webkit-font-smoothing: antialiased;

     min-height: 100dvh;

     /* Avoid text overflow */
     overflow-wrap: break-word;

     font-family: microsoft-jhenghei, Arial, Helvetica, sans-serif;
     letter-spacing: 0.02rem;

     p,
     ol,
     ul,
     form {
         /* Improve line wrapping */
         text-wrap: balance;
         overflow-wrap: break-word;
         padding: 0.5rem 5vw 0.8rem 5vw;
         list-style-type: circle;
     }

     h1,
     h2,
     h3,
     h4,
     h5,
     h6 {
         font-family: OFLGoudyStMTT, 'Times New Roman', Times, serif;
         text-wrap: balance;
         overflow-wrap: break-word;
         padding: 1rem 5vw 0 5vw;
         letter-spacing: 0.03rem;
     }

     h2 {
         /* trick to offset the anchor scrolling navigation */
         position: relative;

         & span {
             position: absolute;
             top: -7.125rem;
         }
     }

     a {
         text-decoration: none;
         color: inherit;
     }

     a:hover {
         cursor: pointer;
     }

     hr {
         color: var(--olive);
         border-top: 0 solid var(--olive);
         border-left: 0 solid var(--olive);
         border-bottom: solid 1px var(--olive);
         margin: 2rem 0;
         width: 20vw;
     }

     input,
     optgroup,
     textarea,
     select {
         font: inherit;
     }

     button,
     [type="button"],
     [type="reset"],
     [type="submit"] {
         /* Correct the inability to style clickable types in iOS and Safari */
         -webkit-appearance: button;
     }

     img,
     iframe,
     picture,
     video,
     canvas,
     svg {
         width: 100%;
         height: auto;
         overflow: hidden;
         /* The image keeps its aspect ratio and fills the given dimension. The image will be clipped to fit */
         object-fit: cover;
         /* The image keeps its aspect ratio,
                but is resized to fit within the given dimension */
         /* Remove the gap between content and the bottom of their containers */
         vertical-align: middle;
         border: none;
     }

     fieldset {
         /* Remove default fieldset styles */
         border: 0;
         margin: 0;
         padding: 0;
     }

     textarea {
         resize: none;
     }

     sub,
     sup {
         font-size: 75%;
         line-height: 0;
         position: relative;
         vertical-align: baseline;
     }

     progress {
         /* Add the correct vertical alignment in Chrome, Firefox, and Opera */
         vertical-align: baseline;
     }

     /* Correct the cursor style of increment and decrement buttons in Chrome */
     [type="number"]::-webkit-inner-spin-button,
     [type="number"]::-webkit-outer-spin-button {
         height: auto;
     }

     [type="search"] {
         /* Correct the odd appearance in Chrome and Safari */
         -webkit-appearance: textfield;
         /* Correct the outline style in Safar */
         outline-offset: -2px;
     }

     [type="search"]::-webkit-search-decoration {
         /* Remove the inner padding in Chrome and Safari on macOS */
         -webkit-appearance: none;
     }

     ::-webkit-file-upload-button {
         /* Correct the inability to style clickable types in iOS and Safari */
         -webkit-appearance: button;
         /* Change font properties to `inherit` in Safari */
         font: inherit;
     }

     details {
         /* Add the correct display in Edge and Firefox */
         display: block;
     }

     summary {
         /* Add the correct display in all browsers */
         display: list-item;
     }

     .hidden {
         display: none;
     }

     .transparent {
         visibility: hidden;
     }
 }

 header {
     position: sticky;
     top: 0;
     z-index: 1;
     background-color: rgba(255, 255, 255, 0.857);
     transition: all 0.24s;

     .shadow {
         top: -200vh;
         height: 200vh;
         width: 100vw;
         right: 0;
         position: fixed;
         background-image:
             linear-gradient(#4c1000,
                 #0b0402b7,
                 #0b040220);
         backdrop-filter: blur(9px);
     }

     .nav-mobile {
         position: absolute;
         top: -200vh;
         height: 100vh;
         width: 100vw;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         font-size: 1.8rem;
         text-align: center;
         transition: all 0.5s;
         gap: 2rem;
         color: white;

         &>.current-page {
             border-bottom: 4px solid white;
             transition: all 0.5s;

             &:hover {
                 cursor: default;
                 transition: all 0.2s;
             }
         }

         &>.current-not {
             border-bottom: 4px solid transparent;
             transition: all 0.5s;

             &:hover {
                 color: white;
                 border-bottom: 4px solid white;
                 transform: scale(1.12);
                 cursor: pointer;
                 transition: all 0.2s;
             }

             /* Border animation */
             &::after {
                 content: '';
                 position: absolute;
                 width: 0;
                 height: 0.21rem;
                 left: 50%;
                 bottom: -0.21rem;
                 background-color: white;
                 transition: all 0.4s;
             }

             &:hover::after {
                 transition: all 0.14s;
                 width: 100%;
                 left: 0;
             }
         }
     }

     .header-mobile {
         backdrop-filter: blur(8px);

         .burger {
             position: fixed;
             right: 5vw;
             top: 4vw;
             background: none;
             border: none;
             transition: all 0.5s;
             z-index: 1;

             &:hover {
                 cursor: pointer;
                 transform: scale(1.4);
                 transition: all 0.2s;
             }
         }

         .burger__bar1,
         .burger__bar2,
         .burger__bar3 {
             background-color: black;
             width: 21px;
             height: 3px;
             margin: 4px 0;
             transition: all 0.5s;
         }

         .burger--open .burger__bar1 {
             transition: all 0.3s;
             transform: translate(0, 7px) rotate(-45deg);
             background-color: white;
         }

         .burger--open .burger__bar2 {
             transition: all 0.3s;
             opacity: 0;
         }

         .burger--open .burger__bar3 {
             transition: all 0.3s;
             transform: translate(0, -7px) rotate(45deg);
             background-color: white;
         }

         .title {
             padding-top: 2.3vw;
             font-size: 1.5rem;
         }

         .subtitle {
             position: relative;
             font-family: microsoft-jhenghei, Arial, Helvetica, sans-serif;
             color: var(--olive-black);
             font-size: 1.2rem;
             padding: 0 5vw 0.5rem 5vw;
         }

         .heading-hidden,
         .heading-hidden>.subtitle {
             color: white;
         }

         .lang-mobile {
             display: flex;
             justify-content: space-evenly;
             position: relative;
             z-index: 1;

             button {
                 background-color: transparent;
                 color: var(--olive-black);
                 font-family: microsoft-jhenghei, Arial, Helvetica, sans-serif;
                 font-size: 1.1rem;
                 padding: 0.3rem 0 0.2rem 0;
                 border: none;
                 width: 4.4rem;
                 transition: all 0.5s;

                 &.current-page {
                     border-bottom: 0.3rem solid var(--olive-dark);
                     transition: all 0.5s;

                     &:hover {
                         cursor: default;
                         transition: all 0.2s;
                     }
                 }

                 &.current-not {
                     /* spaceholder to avoid jumping */
                     border-bottom: 0.3rem solid transparent;
                     transition: all 0.6s;
                     /* Necessary for border animation */
                     position: relative;

                     &:hover {
                         cursor: pointer;
                         color: var(--olive-darkest);
                         border-bottom: 0.3rem solid var(--olive);
                         transition: all 0.5s;
                     }

                     /* Border animation */
                     &::after {
                         content: '';
                         position: absolute;
                         width: 0;
                         height: 0.21rem;
                         left: 50%;
                         bottom: -0.21rem;
                         background-color: var(--olive);
                         transition: all 0.4s;
                     }

                     &:hover::after {
                         transition: all 0.14s;
                         width: 100%;
                         left: 0;
                     }
                 }
             }
         }

         .lang-mobile-hidden {
             button {
                 color: white;

                 &.current-page {
                     border-bottom: 0.3rem solid white;
                 }

                 &.current-not {
                     &:hover {
                         color: white;
                         border-bottom: 0.3rem solid white;
                     }

                     /* Border animation */
                     &::after {
                         background-color: white;
                     }
                 }
             }
         }
     }

     .show-mob {
         top: 0;
         transition: all 0.5s;
     }

     .header-desktop {
         display: none;
     }

     .show-desk {
         display: flex;
         left: 0;
     }
 }

 main {
     display: flex;
     flex-direction: column;
     align-items: center;

     section {
         width: 100vw;
     }

     .accueil-section {
         display: flex;
         flex-direction: column;
         align-items: center;
         text-align: center;
         border-bottom: solid 1px var(--olive);

         .accueil-title h2 {
             letter-spacing: 0;

             &.second_line {
                 padding-top: 0;
             }
         }

         img {
             padding-top: 1rem;
             /* margin-top: 1rem; */
             width: 60vw;
         }
     }

     .accueil {
         /* trick to offset the anchor scrolling navigation */
         padding: 0;
         top: -18.75rem;
         /* Change px to vw when ready for desktop version */
     }

     .aj {
         font-size: 1.1rem;
         text-align: center;
         /* background-color: var(--olive-white); */
         background-image: linear-gradient(90deg,
                 var(--olive-lighter),
                 var(--olive-white),
                 var(--olive-white),
                 var(--olive-white),
                 var(--olive-white),
                 var(--olive-white),
                 var(--olive-lighter));
         /* box-shadow: var(--shadow-elevation-low); */
         border-radius: 0.8rem;
         width: 90%;
         margin-inline: auto;
         margin-bottom: 1rem;

         h3 {
             padding: 0.8rem;
         }
     }

     .cards-flex {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 1rem;
         margin-top: 1rem;

         .card {
             width: 90vw;
             border-radius: 0.8rem;
             border: solid 3px var(--olive-light);

             & h3,
             & h4,
             & ul {
                 padding-left: 2rem;
             }
         }
     }

     .contact-section {
         form {

             #nom,
             #prenom,
             #email,
             #telephone,
             #message {
                 width: 100%;
                 border-radius: 10px;
                 border: solid 1px var(--olive);
                 margin-bottom: 1rem;
                 padding: 0.3rem 0.8rem 0.2rem 0.8rem;
                 color: var(--olive-dark);

                 &::placeholder {
                     color: var(--olive-dark);
                     opacity: 0.6;
                 }
             }

             button {
                 background: var(--olive-dark);
                 color: white;
                 font-family: microsoft-jhenghei-bold, Arial, Helvetica, sans-serif;
                 font-weight: bold;
                 padding-block: 0.3rem 0.2rem;
                 width: 80%;
                 font-size: 1.3rem;
                 border-radius: 50px;
                 border: none;
                 display: flex;
                 justify-content: center;
                 align-items: center;
                 box-shadow: var(--shadow-elevation-low);
                 transition: all 0.6s;
                 margin-block: 1rem;
                 margin-inline: auto;

                 &:hover {
                     cursor: pointer;
                     transform: scale(1.1);
                     text-shadow: var(--text-shadow);
                     box-shadow: var(--shadow-elevation-high);
                     transition: all 0.24s;

                     .arrow {
                         transform: rotate(180deg) scale(1.4);
                         text-shadow: var(--text-shadow);
                         transition: all 0.24s;
                     }
                 }
             }
         }

         .coordonnees {
             display: flex;
             width: 100vw;
             justify-content: space-evenly;
             margin-block: 1rem;

             .tel,
             .adresse {
                 background-color: white;
                 color: var(--olive-black);
                 border: solid 2px var(--olive-dark);
                 width: 40vw;
                 border-radius: 0.8rem;
                 font-size: 1rem;
                 transition: all 0.5s;
                 box-shadow: var(--shadow-elevation-low);
                 padding-block: 1rem;

                 &:hover {
                     cursor: pointer;
                     color: black;
                     transform: scale(1.04);
                     transition: all 0.1s;
                     box-shadow: var(--shadow-elevation-medium);
                 }
             }
         }
     }

     .arrow {
         width: 1rem;
         transition: all 0.6s;
         transform: rotate(-180deg);
     }

     iframe {
         width: 100vw;
         height: 100vw;
     }
 }

 footer {
     padding: 4rem 0 1rem 0;
     text-align: center;
     font-size: 0.8rem;
     color: var(--olive-dark);

     a {
         color: var(--olive);
         transition: all 0.6s;

         &:hover {
             transition: all 0.16s;
             color: var(--olive-black);
         }
     }

 }

 /* MARK: @media 600
*/
 @media screen and (min-width: 600px) {
     header {
         .burger {
             display: none;
         }
     }

     main {
         .accueil-section {
             display: grid;
             grid-template-columns: 50vw 50vw;
             grid-template-areas: "portrait accueil-title";
             /* flex-direction: row-reverse;
             justify-content: center; */
             /* font-size: 4vw; */

             .accueil-title {
                 grid-area: accueil-title;
                 background-color: pink;
                 text-align: left;

                 h2 {
                     padding: 0;
                 }
             }

             img {
                 grid-area: portrait;
                 width: none;
                 background-color: teal;
             }
         }
     }
 }